<%= nested_form_for([:admin, @product], :html => { :multipart => true, :class => "da-form" }) do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@product.errors.count, "error") %> prohibited this test from being saved:</h2>

	<ul>
		<% @product.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= select_tag :category_id, options_for_select([["Select Category", ""]] + Category.all.map {|c| [c.name, c.id]}), :onchange => 'select_file(this.value)' %>
</div>

<div class="load_subcat"></div>


<div class="field">
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :description %><br>
	<%= f.text_area :description %>
</div>
<div class="field">

	<%= f.label :image %>
	<%= f.file_field :pimage %>
</div>
<div class="field">
	<%= f.label :video %>
	<%= f.file_field :pvideo %>
</div>
<div class="field">
	<%= f.label :doc %>
	<%= f.file_field :pdoc %>
</div>
<div class="field">
	<%= f.label :price %><br>
	<%= f.text_field :price %>
</div>

<div class="actions">
	<%= f.submit %>
</div>

<% end %>
<script>
	function select_file(val){
		$.ajax({
			url: "/admin/products/load_subcat?category_id=" + val,
	});
	}
	</script>